/* theme overrides */
.globaltoc > ul a {
	color: var(--custom-link-color);
}
.globaltoc > ul a.current {
	color: var(--custom-link-color);
	font-weight: bolder;
}

.localtoc > ul li > a {
	color: var(--custom-link-color);
}
.localtoc > ul li.active > a {
	color: var(--custom-link-color);
	font-weight: bolder;
}
/* end theme overrides */

:root {
	--custom-link-color: rgb(10, 110, 255);
	--custom-link-color-visited: #872ee0;
* {
	/* color: green; */
}

a {
	color: var(--custom-link-color);
}
a:hover {
	color: var(--custom-link-color);
}
/* a:visited { */
/* 	color: var(--custom-link-color-visited); */
/* } */

.sprite {
	image-rendering: crisp-edges;
}

td:has(img) {
	text-align: center;
}

.notice {
	text-align: center;
	font-size: 140%;
	font-weight: bold;
}

.big {
	font-size: 140%;
}
.bigger {
	font-size: 180%;
	font-weight: bold;
}
