name: deploy-client-package

on:
  push

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r client_package/requirements.txt
    - name: Build client package
      run: ./client-build.sh
    - name: Push to client package repository
      id: push_directory
      uses: cpina/github-action-push-to-another-repository@target-branch
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-directory: 'output'
        destination-github-username: 'acm-ndsu'
        destination-repository-name: 'Byte-le-2026-Client-Package'
        user-email: noah.magcalas@gmail.com
        commit-message: See ORIGIN_COMMIT from $GITHUB_REF
        target-branch: main
    - name: Test get variable exported by push-to-another-repository
      run: echo $DESTINATION_CLONED_DIRECTORY
