name: deploy-client-package

on:
  push:
    branches:
      - 'main'
      - 'client-package'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r client_package/requirements.txt
    - name: Build client package
      run: ./client-build.sh
    - name: Push to client package repository
      uses: cpina/github-action-push-to-another-repository@main
      env:
        SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
      with:
        source-directory: 'output'
        destination-github-username: 'acm-ndsu'
        destination-repository-name: 'Byte-le-2026-Client-Package'
        user-email: noah.magcalas@gmail.com
        target-branch: main
